@media (prefers-color-scheme: dark)
{
    :root {
        --primary-color: rgb(0, 0, 0);
        --primary-fade: rgba(0, 0, 0, 0.7);
        --secondary-color: rgb(36, 244, 36);
        --tertiary-color: rgb(255, 69, 69);
        --quadray-color: rgb(255, 232, 59);
        --contrast-font-color: rgb(42, 42, 42);
        --primary-font-color: rgb(211, 211, 211);
        --secondary-font-color: rgb(42, 42, 42);
    }
}
