* {
    font-family: monospace;
    cursor: default;

    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none; /* For Internet Explorer */
    user-select: none; /* Standard syntax */
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}

body {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--primary-font-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    margin: 10px 0;
}

code {
    font-weight: bold;
    background-color: var(--secondary-color);
    background-clip: border-box;
    color: var(--secondary-font-color);
}

.content-box {
    display: block;
    position: absolute;
    width: calc(95vw);
    height: calc(95vh);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    z-index: 100;
}

.title-screen {
    & .controls {
        width: 250px;

        & > button {
            width: 100%;
        }

        & > button:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.red {
    color: red;
}

.innerContainer {
    width: 100%;
    height: fit-content;
    margin: 20px 30px;
}
